@import "_layout";
@import "_style";

.mainvisual {
    width: 100%;
    position: relative;
    .bxslider {
        .slide {
            position: relative;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            &:before {
                content: "";
                display: block;
                padding-top: 60%;
            }
        }
    }
}

.overview {
    .title {
        margin: 30px 0 0;
        text-align: center;
        .now {
            max-width: 220px;
            margin: 0 auto 10px;
            @media screen and (max-width: $md - 1) {
                max-width: 190px;
            }
            @media screen and (max-width: $sm - 1) {
                max-width: 150px;
            }
        }
        p {
            text-align: left;
            @include font(17);
            letter-spacing: 1px;
            line-height: 1.8;
            @media screen and (max-width: $sm - 1) {
                @include font(15);
                line-height: 1.8;
            }
            @media screen and (max-width: $sm - 1) {
                @include font(14);
                line-height: 1.8;
                margin: 15px 0;
            }
        }
        .sub-ttl {
            @include font(20);
            letter-spacing: 2px;
            color: #4d80a5;
            text-align: center;
            margin: 0;
            @media screen and (max-width: $sm - 1) {
                @include font(18);
            }
            @media screen and (max-width: $sm - 1) {
                @include font(16);
            }
        }
        h2 {
            @include font(24);
            letter-spacing: 2px;
            margin: 0;
            @media screen and (max-width: $md - 1) {
                @include font(21);
            }
            @media screen and (max-width: $sm - 1) {
                @include font(18);
            }
        }
        .keyword {
            li {
                @include font(14);
                margin: 0 5px;
                padding: 0;
                @media screen and (max-width: $md - 1) {
                    @include font(13);
                }
                @media screen and (max-width: $sm - 1) {
                    @include font(12);
                    margin: 0 3px;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 0 10px;
                    line-height: 25px;
                    @media screen and (max-width: $md - 1) {
                        padding: 0 8px;
                        line-height: 22px;
                    }
                    @media screen and (max-width: $sm - 1) {
                        padding: 0 6px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    .caption {
        text-align: center;
        margin: 40px 0 0;
        @media screen and (max-width: $sm - 1) {
            margin: 30px 0 0;
        }
        h3 {
            color: #4d4d4d;
            background-color: #ededed;
            @include font(20);
            letter-spacing: 3px;
            text-indent: 3px;
            margin: 0 0 30px;
            @media screen and (max-width: $sm - 1) {
                @include font(18);
                margin-bottom: 20px;
            }
        }
        h5 {
            @include font(20);
            color: #40708d;
            letter-spacing: 3px;
            margin: 0 0 15px;
            @media screen and (max-width: $sm - 1) {
                @include font(18);
            }
        }
    }
    .cost {
        .cost-group {
            margin: auto;
            max-width: 540px;
            h4 {
                margin-bottom: 0;
                @include font(18);
                text-align: left;
            }
            p {
                margin-top: .5em;
                @include font(16);
                text-align: left;
            }
        }
        table {
            margin: auto;
            max-width: 700px;
            th {
                min-width: 55px;
                margin: 0;
                padding: 0 25px;
                @include font(18);
                line-height: 40px;
                color: #fff;
                background-color: #4191ad;
                display: inline-block;
                @media screen and (max-width: $sm - 1) {
                    display: inline-block;
                    @include font(16);
                    line-height: 35px;
                    padding: 0 20px;
                }
            }
            td {
                text-align: left;
                padding: 0 0 20px 25px;
                max-width: 450px;
                @media screen and (max-width: $sm - 1) {
                    display: block;
                    padding: 5px 0 25px;
                }
                > span {
                    display: block;
                }
                .price {
                    @include font(22);
                    letter-spacing: 2px;
                    text-indent: 2px;
                    margin: 0;
                    @media screen and (max-width: $sm - 1) {
                        @include font(18);
                        text-align: center;
                        padding-bottom: 5px;
                    }
                    span {
                        @include font(34);
                        line-height: 1;
                        @media screen and (max-width: $sm - 1) {
                            @include font(30);
                        }
                    }
                }
                .remarks {
                    @include font(14);
                    position: relative;
                    padding-left: 1em;
                    @media screen and (max-width: $sm - 1) {
                        @include font(13);
                        max-width: 250px;
                        margin: auto;
                    }
                    &:before {
                        position: absolute;
                        content: "※";
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
    .details {
        .btn-hide {
            cursor: pointer;
            position: relative;
            display: inline-block;
            @include font(20);
            color: #40708d;
            letter-spacing: 2px;
            border: solid 1px #40708d;
            margin: 30px 0;
            padding: 10px 45px 10px 20px;
            @media screen and (max-width: $sm - 1) {
                @include font(16);
            }
            &:before {
                position: absolute;
                content: "";
                width: 12px;
                height: 12px;
                border: 0px;
                border-top: solid 1px #416f8e;
                border-right: solid 1px #416f8e;
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                transition: all .2s ease;
                top: 50%;
                right: 20px;
                margin-top: -3px;
                @media screen and (max-width: $sm - 1) {
                    width: 10px;
                    height: 10px;
                    margin-top: -2px;
                }
            }
            &.active {
                &:before {
                    -ms-transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                    transform: rotate(135deg);
                    transition: all .2s ease;
                    margin-top: -8px;
                }
            }
        }
        .accordion {
            padding-bottom: 20px;
            h4 {
                @include font(20);
                letter-spacing: 1px;
                margin: 10px 0;
                @media screen and (max-width: $sm - 1) {
                    @include font(16);
                }
            }
            p {
                @include font(16);
                letter-spacing: 1px;
                line-height: 1.8;
                text-align: left;
                margin: 10px 0;
                @media screen and (min-width: $sm) {
                    max-width: 675px;
                    margin: auto;
                }
                @media screen and (max-width: $sm - 1) {
                    @include font(14);
                }
            }
            img {
                width: 100%;
                max-width: 675px;
                height: auto;
            }
        }
        .detail {
            padding: 0 0 30px;
            @media screen and (max-width: $sm - 1) {
                padding-bottom: 15px;
            }
            .more {
                margin: 1em;
                a {
                    color: #40708d;
                    @include font(14);
                }
            }
        }
    }
    .information {
        table {
            width: 100%;
            border-collapse: collapse;
            tr {
                border-top: solid 1px #e3e2e2;
                border-bottom: solid 1px #e3e2e2;
            }
            th {
                @include font(16);
                background-color: #ededed;
                width: 38%;
                padding: 10px;
                letter-spacing: 1px;
                @media screen and (max-width: $sm - 1) {
                    @include font(13);
                }
            }
            td {
                @include font(16);
                text-align: left;
                padding: 10px 20px;
                letter-spacing: 1px;
                @media screen and (max-width: $sm - 1) {
                    @include font(13);
                }
            }
        }
    }
    .map {
        width: 100%;
        max-width: 1000px;
        margin: 40px auto 0;
        @media screen and (max-width: $sm - 1) {
            margin: 30px auto 0;
        }
        #side_bar {
            margin-bottom: 10px;
            a {
                @include font(17);
                color: #000;
                letter-spacing: 2px;
                @media screen and (max-width: $sm - 1) {
                    @include font(14);
                }
                i {
                    font-size: 1.25em;
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }
        #cuerpo {
            width: 100%;
            #map_canvas {
                width: auto;
                height: 400px;
                text-align: left;
                @media screen and (max-width: $sm - 1) {
                    height: 300px;
                }
                a {
                    color: #40708d;
                }
            }
        }
    }
    .caution,.other {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: left;
            li {
                position: relative;
                padding-left: 1em;
                padding-bottom: 5px;
                @include font(16);
                line-height: 1.8;
                letter-spacing: 1px;
                @media screen and (max-width: $sm - 1) {
                    @include font(14);
                }
                &:before {
                    position: absolute;
                    content: "・";
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    .cancel {
        p {
            text-align: left;
            @include font(16);
            line-height: 1.8;
            letter-spacing: 1px;
            margin: 0 0 10px;
            @media screen and (max-width: $sm - 1) {
                @include font(14);
                line-height: 1.8;
            }
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 10px;
            th {
                @include font(16);
                letter-spacing: 1px;
                background-color: #ededed;
                border: solid 1px #e3e2e2;
                padding: 10px 5px;
                @media screen and (max-width: $sm - 1) {
                    @include font(14);
                }
            }
            td {
                @include font(16);
                letter-spacing: 1px;
                border: solid 1px #e3e2e2;
                padding: 10px 5px;
                @media screen and (max-width: $sm - 1) {
                    @include font(14);
                }
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: left;
            li {
                position: relative;
                padding-left: 1em;
                padding-bottom: 5px;
                @include font(16);
                line-height: 1.8;
                letter-spacing: 1px;
                @media screen and (max-width: $sm - 1) {
                    @include font(14);
                    line-height: 1.8;
                }
                &:before {
                    position: absolute;
                    content: "※";
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    .planning {
        margin-bottom: 50px;
        p {
            @include font(16);
            line-height: 1.8;
            letter-spacing: 3px;
            margin: 0 0 10px;
            @media screen and (max-width: $sm - 1) {
                letter-spacing: 1px;
                @include font(14);
                line-height: 1.8;
            }
            a {
                color: #333;
            }
        }
        ul {
            list-style: none;
            margin: 0 0 10px;
            padding: 0;
            text-align: left;
            text-align: center;
            font-size: 0;
            li {
                @include font(16);
                padding-left: 1em;
                letter-spacing: 1px;
                display: inline-block;
                @media screen and (max-width: $sm - 1) {
                    @include font(14);
                }
                a {
                    position: relative;
                    padding-left: 1em;
                    color: #4d4d4d;
                    &:before {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 5px 0 5px 8.7px;
                        border-color: transparent transparent transparent #4d4d4d;
                        top: 8px;
                        left: 0;
                        @media screen and (max-width: $sm - 1) {
                            border-width: 4px 0 4px 6.9px;
                        }
                    }
                }
            }
        }
    }
}

.order-table-section {
    margin: 20px 0 0;
    .course-select {
        max-width: 675px;
        margin: 0 auto;
        cursor: pointer;
        position: relative;
        text-align: center;
        box-sizing: border-box;
        .label {
            position: absolute;
            width: 100%;
            z-index: 1;
            @include font(17);
            line-height: 35px;
            margin: 0;
            border: 1px solid #ddd;
            box-sizing: border-box;
            color: #fff;
            background-color: #4191ad;
            @media screen and (max-width: $sm - 1) {
                @include font(16);
                line-height: 30px;
            }
            span {
                position: relative;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb(255, 255, 255)"></polygon></svg>');
                background-size: 9px 6px;
                background-position: right 0 center;
                background-repeat: no-repeat;
                padding-right: 1.5em;
            }
        }
        select {
            cursor: pointer;
            display: block;
            width: 100%;
            @include font(17);
            padding: 0 1em;
            color: #fff;
            background-color: #fff;
            line-height: 35px;
            border: 1px solid #ddd;
            border-radius: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            // background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb(51, 51, 51)"></polygon></svg>');
            // background-size: 9px 6px;
            // background-position: right 1em center;
            // background-repeat: no-repeat;
            position: relative;
            z-index: 2;
            opacity: 0;
            @media screen and (max-width: $md - 1) {
                @include font(16);
                line-height: 30px;
            }
            @media screen and (max-width: $sm - 1) {
                padding: 0 .5em;
                background-position: right .5em center;
            }
            &:focus {
                z-index: -1;
                opacity: 1;
            }
        }
    }
    .pre {
        position: relative;
        width: 100%;
        max-width: 675px;
        margin: auto;
        &:before {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: rgba(0,0,0,.5);
        }
    }
    .month-pager {
        padding: 5px;
        max-width: 675px;
        margin: auto;
        background-color: #ededed;
        box-sizing: border-box;
        @include font(16);
        .wrap {
            display: table;
            width: 100%;
        }
        .button {
            display: table-cell;
        }
        .prev {
            text-align: left;
        }
        .current {
            @include font(20);
        }
        .next {
            text-align: right;
        }
    }
    .order-table {
        width: 100%;
        max-width: 675px;
        margin: auto;
        border-collapse: collapse;
        box-sizing: border-box;
        thead {
            background-color: #ededed;
        }
        th,
        td {
            padding: 5px 0;
            @include font(16);
            border: 1px solid #ddd;
            .order-status {
                padding: 5px 0;
                div {
                    display: block;
                    position: relative;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-position: center center;
                    width: 100%;
                    max-width: 20px;
                    margin: auto;
                    &:before {
                        content:"";
                        display: block;
                        padding-top:100%;
                    }
                }
                .many {background-image: url(../img/post/icon_many.png);}
                .few {background-image: url(../img/post/icon_few.png);}
                .not {background-image: url(../img/post/icon_not.png);}
                .out {background-image: url(../img/post/icon_out.png);}
                .ask {background-image: url(../img/post/icon_ask.png);}
                img {
                    max-width: 16px;
                    height: auto;
                }
            }
        }
        .sat {
            color: #509ece;
        }
        .sun {
            color: #ec5a24;
        }
    }
    h4 {
        @include font(18);
        color: #40708d;
        letter-spacing: 1px;
        text-indent: 1px;
        margin: 15px 0 0;
        @media screen and (max-width: $sm - 1) {
            @include font(16);
        }
    }
    .notes {
        width: 100%;
        max-width: 675px;
        margin: auto;
        padding: 5px 0;
        li {
            margin: 2px 5px;
            list-style: none;
            display: inline-block;
            p {
                margin: 0;
                padding-left: 1.25em;
                position: relative;
                @include font(16);
                color: #999;
                text-align: left;
                @media screen and (max-width: $sm - 1) {
                    @include font(14);
                }
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    width: 1em;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-position: center center;
                }
            }
            .many:before {background-image: url(../img/post/icon_many.png);}
            .few:before {background-image: url(../img/post/icon_few.png);}
            .not:before {background-image: url(../img/post/icon_not.png);}
            .out:before {background-image: url(../img/post/icon_out.png);}
            .ask:before {background-image: url(../img/post/icon_ask.png);}
        }
    }
}

.recommend {
    background-color: #f0f0eb;
    margin-bottom: 50px;
    padding: 40px 0;
    @media screen and (max-width: $sm - 1) {
        margin-bottom: 30px;
        padding: 25px 0 10px;
    }
    h4 {
        text-align: center;
        margin: 0 0 30px;
        @include font(20);
        color: #40708d;
        letter-spacing: 2px;
        text-indent: 2px;
        @media screen and (max-width: $sm - 1) {
            @include font(18);
            margin-bottom: 20px;
        }
    }
    .wrap {
        .item {
            width: 30%;
            float: left;
            margin-left: calc(10% / 6);
            margin-right: calc(10% / 6);
            @media screen and (max-width: $md - 1) {
                width: 48%;
                margin: 0 1%;
                &:last-child {
                    display: none;
                }
            }
            @media screen and (max-width: $sm - 1) {
                width: 80%;
                margin: 0 auto 30px;
                float: none;
                &:last-child {
                    display: block;
                }
            }
            .image {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                &:before {
                    content: "";
                    display: block;
                    padding-top: 65%;
                }
            }
            .text {
                h5 {
                    @include font(15);
                    margin: 10px 0 0;
                }
                p {
                    @include font(13);
                    margin: 10px 0;
                }
                .more {
                    padding-top: 10px;
                    a {
                        display: block;
                        color: #fff;
                        background-color: #4191ad;
                        text-align: center;
                        padding: 10px 0;
                        letter-spacing: 1px;
                        text-decoration: none;
                        @include font(14);
                        transition: all .2s ease;
                        border-radius: 3px;
                        span {
                            margin-right: 15px;
                            position: relative;
                            &:after {
                                position: absolute;
                                content: "";
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 5px 0 5px 5px;
                                border-color: transparent transparent transparent #fff;
                                top: 6px;
                                right: -13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.btn-entry {
    position: fixed;
    width: 100%;
    background-color: #bd7c6f;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 1000;
    a {
        color: #fff;
        @include font(20);
        display: block;
        text-decoration: none;
        line-height: 50px;
        vertical-align: middle;
        @media screen and (max-width: $sm - 1) {
            @include font(17);
            line-height: 40px;
        }
        span {
            position: relative;
            margin-left: -20px;
            &:after {
                position: absolute;
                content: "";
                width: 12px;
                height: 12px;
                border: 0px;
                border-top: solid 1px #fff;
                border-right: solid 1px #fff;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                transition: all .2s ease;
                top: 50%;
                right: -20px;
                margin-top: -6px;
                @media screen and (max-width: $sm - 1) {
                    width: 10px;
                    height: 10px;
                    margin-top: -5px;
                }
            }
        }
        i {
            margin: 5px;
        }
    }
}

.global-footer {
    padding-bottom: 60px;
}
